.header {
    background-color: red;
}
.main {
    background-color: blue;
    flex-grow: 1;
}

.footer {
    background-color: green;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

.container > * {
    padding: 20px;
}

body {
    margin: 0%;
}