body {
    margin: 0;
    background: rgb(180, 184, 184);
    font-family: Helvetica;
}

.header {
    background-color: grey;
}

.main {
    background-color: lightblue;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex: 25%;
    max-width: 25%;
}

.line-y {
    height: 50px;
    width: 2px;
  }
  
.line-x {
    height: 2px;
    width: 100px;
    animation-name: line;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
}

  .square {
    height: 25px;
    width: 25px;
    animation-name: square;
    animation-duration: 4s;
    -moz-animation-iteration-count: 1;
  }
  
  .square, .line-x, .line-y {
      background-color: #555;
  }

  @keyframes line {
    from { width: 0px; }
    to { width: 100px; }
  }

  @keyframes square {
      from { width: 0px; height: 0px; }
      to { width: 25px; height: 25px; }
  }
  .triangle-right {
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-left: 50px solid #555;
      border-bottom: 25px solid transparent;
  }

.square:hover {
    background-color: maroon;
    height: 50px;
    width: 50px;
}

.square {
    -webkit-transition-property: background-color, width, height;
    -webkit-transition-duration: 1.0s;
}

.footer {
    background-color: black;
}

.timeline {
    display: flex;
    flex-direction: row-wrap;
    align-items: center;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

.container > * {
    padding: 20px;
}

.item {
    margin: 10px;
}

img {
    max-width: 100%;
    max-height: auto;
    opacity: 1s;
    -webkit-transition: -webkit-filter 0.5s;
    -webkit-filter: contrast(40%);
}

img:hover {
    opacity: 1;
    -webkit-filter: contrast(100%);
}

.button {
    background-color:whitesmoke; 
    border: 1px solid black;
    color: black;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #000;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: lightblue;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px whitesmoke;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}