body {
    margin: 0;
    background: rgb(180, 184, 184);
    font-family: Helvetica;
}

.header {
    background-color: grey;
}
.main {
    background-color: lightblue;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex: 25%;
    max-width: 25%;
}

.footer {
    background-color: black;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

.container > * {
    padding: 20px;
}

.item {
    margin: 10px;
}

img {
    max-width: 100%;
    max-height: auto;
}

.button {
    background-color:whitesmoke; 
    border: 1px solid black;
    color: black;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }

.button:hover {
    background-color: #000;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: lightblue;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px whitesmoke;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}